<h2 class="text-2xl font-bold mb-2">{{ property.property_name }}</h2>
<p class="mb-4">{{ property.description }}</p>

<div id="photoPreview" class="grid grid-cols-3 gap-2">
    {% for image in property.images.all|slice:":3" %}
        <img src="{{ image.image.url }}" class="rounded-md h-32 object-cover w-full" />
    {% endfor %}
</div>

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, aliquid dolorum. Sed, repudiandae! Perspiciatis expedita nostrum, suscipit dolores exercitationem harum ullam, rem quia atque ducimus repudiandae veniam. Ad, quas quibusdam.</p>
</div>
<!-- See All Photos Button -->
<button onclick="showAllPhotos({{ property.id }})" 
        class="text-blue-600 mt-4 hover:underline block" id="seeAllBtn">
    See all photos
</button>




