{% extends 'dashboard/layout/dashboardLayout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="space-y-5 md:space-y-8 max-w-full mx-auto rounded-lg">
    <!-- content -->
    <div class="bg-white p-5 rounded-lg">
        <div class="flex flex-col sm:flex-row justify-center md:justify-between items-center gap-3 mb-4">
            <h2 class="text-2xl md:text-3xl font-bold">
                {% if form.instance.pk %}
                Update
                {% else %}
                Add
                {% endif %}Committee Name
            </h2>
        </div>

        <hr class="border[.5px] border-border-black mb-5" />

        <div>
            <form method="POST" class="space-y-5">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label class="block text-base font-medium mb-2">Committee Name</label>
                        {% render_field form.committee_name placeholder="Committee Name" class='w-full border border-black rounded-lg px-3 py-2' %}
                    </div>
                    <div>
                        <label class="block text-base font-medium mb-2">Committee Code</label>
                        {% render_field form.code placeholder="Committee code provided by developers (must be Upper Case Letter eg. TL, SL)" class='w-full border border-black rounded-lg px-3 py-2' %}
                    </div>
                     <div>
                        <label class="block text-base font-medium mb-2">Show in Executive</label>
                        <select
                            name="is_show_executive"
                            class="w-full border border-black rounded-lg px-3 py-2"
                        >
                            <option value="True" {% if form.instance.is_show_executive %}selected{% endif %}>
                                Yes
                            </option>
                            <option value="False" {% if not form.instance.is_show_executive %}selected{% endif %}>
                                No
                            </option>
                        </select>
                    </div>
                    <div>
                    <label class="block text-base font-medium mb-2">Executive Display Order</label>
                    {% render_field form.display_order placeholder="Display Order" class='w-full border border-black rounded-lg px-3 py-2' %}
                    </div>
                </div>
                <!-- Buttons -->
                <div class="flex flex-wrap justify-center gap-3 mt-8">
                    <button type="submit"
                        class="bg-[#183665] hover:bg-blue-700 text-white px-6 py-2 rounded-lg transition cursor-pointer w-full md:w-64">
                        {% if form.instance.pk %}
                        Update Committee Name
                        {% else %}
                        Add Committee Name
                        {% endif %}
                    </button>
                    <a href="{% url 'committee:committee_name_list' %}"
                        class="bg-gray-100 text-[#183665] px-6 py-2 rounded-lg border border-gray-300 cursor-pointer transition w-full md:w-64 text-center">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}