{% extends 'layout/homeLayout.html' %}
{% block title %}
  Hfall | Past Sub Committee List
{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <section class="mt-[140px] sm:mt-[170px] lg:mt-[170px]">
    <section class="max-w-7xl mx-auto px-6">
      <div class="">
        <h2 class="text-center text-xl sm:text-2xl lg:text-[32px] text-black-text font-semibold">Hfall Past Executive Committee Members</h2>
        <p class="text-center my-5 text-black-text/70 text-sm sm:text-base lg:text-lg font-medium">Building Community, Empowering Growth – Our members come together to create a supportive network that fosters collaboration, celebrates Bangladeshi heritage, and drives both personal and professional development in the tech industry.</p>
      </div>
      {% if members %}
        <div class="py-5 md:p-5">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            {% for member in members %}
              <div class="bg-border rounded-xl flex flex-col items-center text-center transition flex-1 py-5 relative overflow-hidden">
                <div class="relative w-52 h-52">
                  {% if member.user.personal_image %}
                    <img src="{{ member.user.personal_image.url }}" alt="" class="object-cover rounded-full mb-4 w-full h-full" />
                  {% else %}
                    <img src="{% static 'images/guided-1.png' %}" alt="" class="object-cover rounded-full mb-4 w-full h-full" />
                  {% endif %}
                </div>
                <div class="px-1 mt-4">
                  <h3 class="text-sm md:text-lg font-medium text-black">{{ member.user.get_full_name }}</h3>
                  {% for p in member.position.all %}
                        <p class="mb-1 text-xs md:text-base text-black">
                            {{ p.title }}
                        </p>
                    {% empty %}
                        <p class="mb-1 text-xs md:text-base text-black">
                            No Position
                        </p>
                    {% endfor %}
                  <p class=" mb-1 text-xs md:text-sm text-black/70">{{ member.user.state }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="py-5 md:p-5">
          <p class="text-center font-bold text-xl text-red-500">There are no members in this sub-committee.</p>
        </div>
      {% endif %}
    </section>
  </section>
{% endblock %}