{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <title>Password Reset</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <div class="bg-cover bg-center min-h-screen flex items-center justify-center mb-20" style="background-image: url('{% static 'assets/images/success-bg.png' %}');">
        <div class="bg-white shadow-xl rounded-lg p-8 w-full max-w-md mx-4">
            <div class="flex justify-center">
                <img src="{% static 'assets/images/success-icon.png' %}" alt="" >
            </div>
          <h2 class="text-2xl font-semibold text-gray-800 mb-2 text-center mt-5">Password Change Successful!</h2>
          <p class="text-md text-gray-600 mb-6 text-center">
           You have been successfully change your passwore with <span class="font-bold">HFall Realty</span>.
          </p>
          <p class="text-sm text-gray-600 mb-6 text-center">
          You can now login to your account.
          </p>
          <a href="{% url "accounts:login" %}" class="flex justify-center"><button class="px-16 py-2 rounded bg-[#F79533] hover:bg-[#E0852E] text-white">Login Now</button></a>
          
        </div>
    </div>
    
    {% include "layout/partials/footer.html" %}
</body>
</html>