{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <title>Password Reset</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <div class="bg-cover bg-center min-h-screen flex items-center justify-center mb-20" style="background-image: url('{% static 'assets/images/inbox.png' %}');">
        <div class="bg-white shadow-xl rounded-lg p-8 w-full max-w-5xl mx-4">
          <h2 class="text-2xl font-semibold text-gray-800 mb-2">Check your inbox</h2>
          <p class="text-sm text-gray-600 mb-6">
            We’ve emailed you instructions for setting your new password. If an account exists with the <span class="text-[#F79533]" id="user-email"></span> you entered. You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address you registered with, & check your spam folder.
          </p>
          <p class="text-sm text-gray-700 mt-6 text-center">
            Want to back Home? <a href="/" class="text-[#F79533] hover:underline">Click to Home</a>
          </p>
        </div>
    </div>
    
    {% include "layout/partials/footer.html" %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const email = localStorage.getItem("reset_email");
        if (email) {
          document.getElementById("user-email").textContent = email;
          // Optionally clear it after showing
          localStorage.removeItem("reset_email");
        }
      });
    </script>
</body>
</html>