{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
  <title>{% block title %}{{ title|default:"Hfall | Home" }}{% endblock %}</title>
  {% comment %} <link href="https://cdn.jsdelivr.net/npm/tailwindcss @2.2.19/dist/tailwind.min.css" rel="stylesheet"> {% endcomment %}
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  {% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  {% endblock %}
  <script src="https://cdn.tailwindcss.com "></script>

  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body class="bg-gray-100">

    {% include "layout/partials/navbar.html" %}

  <!-- Main Content -->
  <div>
    {% block content %} {% endblock %}
  </div>

  {% include "layout/partials/footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  {% block scripts %} {% endblock %}
</body>
</html>